
<!-- <% movies.forEach((movie) => { %>  
    <div>
      <a href="/movies/<%= movie.imdbID %>"><img src="<%= movie.Poster %>" alt="<%= movie.Title %>" >
      </a>
    </div>
  <%}) %> -->
  <div class="container text-center">
    <h3>Popular Movies in 2022</h3>
    <div class="row">
        <% movies.forEach((movie) => { %>  
      <div class="col-4">
        <a href="/movies/<%= movie.imdbID %>" style="text-decoration: none"><p><%= movie.Title %><p></a>
        <a href="/movies/<%= movie.imdbID %>"><img src="<%= movie.Poster %>" alt="<%= movie.Title %>" height="350" width="auto" ></a>
      </div>
        
      <%}) %>
    </div>
  </div>

<% if (user) { %>
    <div class="container text-center">
        <h3>Watched Movies:</h3>
    <div class="row">
        <% user.watchedmovies.forEach((movie) => { %>
      <div class="col-2">
        <a href="/movies/<%= movie.imdbId %>"><img src="<%= movie.poster %>" alt="<%= movie.name %>" height="200" width="auto" ></a>
        <a href="/movies/<%= movie.imdbId %>" style="text-decoration: none"><p><%= movie.name %><p></a>
      </div>
      <% }) %>
    </div>
    </div>
    <% } %>

    <% if (user) { %>
        <div class="container text-center">
            <h3><%= user.name %>'s Watchlists:</h3>
        <div class="row">
            <% user.watchlists.forEach((movie) => { %>
          <div class="col-2">
            <a href="/movies/<%= movie.imdbId %>"><img src="<%= movie.poster %>" alt="<%= movie.name %>" height="200" width="auto" ></a>
            <a href="/movies/<%= movie.imdbId %>" style="text-decoration: none"><p><%= movie.name %><p></a>
          </div>
          <% }) %>
        </div>
        <% } %>

