
<p> <img src = <%= movies.Poster %>></p>
<p> <%= movies.Title %></p>
<p> <%= movies.Year %></p>
<p> <%= movies.Director %></p>
<p> <%= movies.Actors %></p>
<p> <%= movies.Plot %></p>
<p> <%= movies.Language %></p>
<p>imdbRating: <%= movies.imdbRating %></p>
<% if (movies.Ratings.length > 1) { %>
    <p>Rotten Tomatoes: <%= movies.Ratings[1].Value %></p>
<% } %>
<form action="/users" method ='POST'>
    <input hide id="country" type="country" name="country">
    <button type="submit">Sign Up</button>
</form>
