<div class="container">
<div class="row justify-content-start">
    <div class="col-4">
        <img src = <%= movie.Poster %> height="400">
    </div>
    <div class="col-8">
        <p><%= movie.Title %> (<%= movie.Year %>)</p>
        <p>Genre: <%= movie.Genre %></p>
        <p>Director: <%= movie.Director %></p>
        <p>Actors: <%= movie.Actors %></p>
        <p>Synopsis: <%= movie.Plot %></p>
        <p>Language: <%= movie.Language %></p>
        <% if (movie.Ratings.length > 1) { %>
            <p>Rotten Tomatoes: <%= movie.Ratings[1].Value %>, imdbRating: <%= movie.imdbRating %></p>
        <% } %>
        <div class="row justify-content-start">
            <div class="col-2">
                <form action="/users/watched" method ='POST'>
                    <input hidden id="movieId" type="text" name="movieId" value="<%= movie.imdbID %>">
                    <button type="submit" class="btn btn-success">Watched</button>
                </form>
            </div>
            <div class="col-2">
                <form action="/users/watched/undo" method ='POST'>
                    <input hidden id="movieId" type="text" name="movieId" value="<%= movie.imdbID %>">
                    <button type="submit" class="btn btn-danger">Not Watched</button>
                </form>
            </div>
            <div class="col-3">
                <form action="/users/watchlist" method ='POST'>
                    <input hidden id="movieId" type="text" name="movieId" value="<%= movie.imdbID %>">
                    <button type="submit" class="btn btn-success">Add To Watchlist</button>
                </form>
            </div>
            <div class="col-3">
                <form action="/users/watchlist/undo" method ='POST'>
                    <input hidden id="movieId" type="text" name="movieId" value="<%= movie.imdbID %>">
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
            </div>
          </div>
    </div>
  </div>

  <h3>Movie Review</h3>
  <div class="mb-3">
    <form action="/comments" method ='POST'>
        <div class="mb-3">
            <input hidden id="movieId" type="text" name="movieId" value="<%= movie.imdbID %>">
            <input hidden id="user" type="text" name="user" value="<%= user %>">
            <label for="comment" class="form-label">Please Share Your Thought</label>
            <input type="text" class="form-control" id="comment"  name="comment" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>


