<h2>Results for "<%= input %>"</h2>
<ol>
<% movies.forEach((movie) => { %>
    <li>
        <div class="col-2">
            <a href="/movies/<%= movie.imdbID %>" style="text-decoration: none"><p><%= movie.Title %> (<%= movie.Year %>)<p></a>
            <a href="/movies/<%= movie.imdbID %>"><img src="<%= movie.Poster %>" alt="<%= movie.Title %>" height="200" width="auto" ></a>
          </div>
    </li>
<%}) %>
</ol>
